@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    width: 100%;
    height: 100vh;
    margin: 0;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1719410512287-534a777101b7?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: #fefae0ff;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

#title {
    margin: 2rem 0 0.5rem 0;
    
    font-family: "Monsieur La Doulaise", cursive; 
    font-weight: 100;
    font-size: 60px;
    text-align: center;
}

#description {
    max-width: 650px;
    margin: 1rem auto;
    margin-bottom: 2rem;

    text-align: center;
}

form {
    width: 80vw;
    max-width: 675px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 4rem;
    background-color: #606c38ff;
    border-radius: 10px;
}

fieldset {
    padding: 0.75rem 2rem;
    border: none;
}

label {
    display: block;
}

.format-label {
    margin: 1rem 0 0 0;
}


input, textarea, select {
    width: 100%;
    margin: 10px 0 0 0;
    min-height: 2rem;

    box-sizing: border-box;
    border-radius: 6px;
}

input, textarea {
    padding: 0 0 0 10px;
    
    border: 1px solid #fefae0ff;

    font-family: "Roboto", san-serif;
    font-size: 16px;

    background-color: #fefae0ff;
}


.inline {
    width:unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

.format-list {
    margin: 0 0 0.25rem 0;
}

label[for="grande"], select {
    margin-bottom: 2rem;
}

select {
    color: rgb(102, 102, 102);
    padding: 0 0 0 5px;
    font-size: 16px;
}

input[type="submit"] { 
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 3rem;
    border-radius: unset;
    background-color: rgb(171, 186, 124);
    border-color: rgb(171, 186, 124);
}

textarea {
    padding: 0.4em 0 0 0.5em;
}
