html {
    box-sizing: border-box;
    font-family: sans-serif;
}

*, ::before, ::after {
    box-sizing: inherit;
}

@media (min-width: 768px) {
    body {
        display: flex;
    }

    #navbar {
        position: fixed;
        overflow-y: scroll;
        width: 20%;
        height: 100vh;
        scroll-margin: 0;
        border-right: 4px solid #f3a8b6;
    }

    #main-doc {
        position: fixed;
        overflow-y: scroll;
        left: 20vw;
        width: 80%;
        height: 100vh;
    }
}

body {
    background-color: #ffccd5;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    #navbar {
        height: 400px;
        border-bottom: 4px solid #f3a8b6; 
        overflow-y: scroll;
    }
}

#navbar header {
    display: flex;
    height: 90px;
    width: 100%;
    align-items: center;
}

h1 {
    font-size: 1.333rem;
    font-weight: normal;
    margin: 0;
    padding-left: 10px;
}

#navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#navbar ul li {
    height: 60px;
    width: 100%;
    line-height: 60px;
    
}

#navbar li a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    color: black;
}

#navbar li a:hover {
    background-color: #ff8fa3;
    color: white;
}

section {
    padding-top: 1px;
}

h2 {
    font-size: 2rem;
    font-weight: lighter;
    padding-left: 20px;
    width: 100%;
}

p {
    padding: 0 30px;
}

pre {
    padding-left: 30px;
    background-color: #fff0f3;
    margin: 0 40px;
    padding-bottom: 0;
}

.table-wrap {
    padding: 1.5rem 0 1.5rem 4rem;
}

tr {
    height: 2rem;
}

th {
    width: 15rem;
    text-align: left;
}

td {
    width: 15rem;
    padding-left: 10px;
}

td[class], th[class] {
    background-color: #fff0f3;
}

h3 {
    padding-left: 20px;
    font-weight: normal;
    font-size: 1.333rem;
    margin-top: 30px;
}

.links a {
    color: #dd2d4a;
}