@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

html {
    font-family: "Manrope", sans-serif;
}
header {
    width: 100%;
    height: 60px;
    background-color: #ad2831ff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: sticky;
}

#logo {
    width: 5rem;
}

nav {
    width: 50%;
    max-width: 400px;
    height: 100%;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 33%;
    color: beige;
}

li a {
    color: inherit;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

li a:hover {
    background-color: beige;
    color: #250902ff;
}

h1 {
    font-size: 4rem;
    width: 100%;
    text-align: center;
}
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#image {
    height: auto;
    max-width: 100%;
}

figcaption {
   padding-top: 1vw;
   font-style: italic;
}

p {
    padding: 0 20vw;
    font-size: 1.2rem;
}

.her-life span {
    font-weight: bold;
}

.her-books ol {
    padding: 0 15vw;
    font-size: 1.2rem;
}

.her-books ol li {
    padding-top: 12px;
}

h2 {
    padding-top: 2.5vw;
    padding-left: 10vw;
    font-size: 2.5rem;
}

.divider {
    border-bottom: 2px #800e13ff solid;
    margin: 0 10vw 2.5vw 10vw;
}

.her-legacy p {
    margin-bottom: 5rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    text-align: center;
    background-color: rgb(181, 181, 181);
}

footer a {
    color: #800e13ff;
    text-decoration: none;
}